

@media (max-width: 1199px){
    header ul.col-md-12 li + li{
        font-size: 14px;
        margin-left: 10px;
    }
    header ul.col-md-12 li{
        font-size: 14px;
    }
}
@media (max-width: 991px){
}
@media (min-width: 768px) {
    #menu {
        display: table !important;
        width: 100%;
    }
    #menu li {
        display: table-cell;
    }
}
@media (max-width: 767px) {
    #menu {
        width: 100%;
    }
    #menu li {
        display: block;
    }
    #menu > li + li {
        margin-left: 0;
    }
    .dropdown-menu {
        width: 100%;
        position: relative;
    }
    header ul.col-md-12 li + li {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
        margin-top: 5px;
    }
    header ul.col-md-12 li {
        display: block;
    }
    header .col-md-3 {
        padding: 5px 15px 15px;
    }