html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.wrap > .container {
    padding: 0 15px 0;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
.breadcrumb{
    padding: 8px 0;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}
.nav > li > form > button.logout:focus {
    outline: none;
}
.logod{
    padding: 10px;
    font-size: 14px;
}
.errorSubscribe{
    font-size: 18px;
    color: #a94442;
}
.successSubscribe{
    font-size: 18px;
    color: #3c763d;
}
.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown {
  display: inline-block;
}
.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-five {
    width: 20%;
    float: left;
    text-align: center
}
@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}

.blog_box h3{
    font: 300 16px/25px Roboto, sans-serif; 
    margin-top: 1em;
}
.blog_box h3 a{
    color:#000;
}
.blog_box h3 a:hover{
    color:#1E4381;
    text-decoration:none;
}
.blog_box{
    padding: 0 20px 20px 20px;
}
.blog_button{
    background-color: white;
    border: none;  
    background: none; 
    white-space: normal
}
.blog_button:hover{
    background-color: white;
}
.links{
    padding:0.5em 0;
}
.links ul{
    padding:0;
    list-style:none;
}
.links li{
    padding:0;
    list-style:none;
}
.links ul li {
    display: inline-block;
    margin-right: 20px;
    font: 300 16px/25px Roboto, sans-serif; 
    color:#999;
}
i.blog-icon{
    color:#2cb149;
    margin-right: 10px;
}
.navbar-collapse.in{
overflow-y: inherit;
}
.vertical-align {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.my-4{
    text-align: center;
}
.sticky{
    box-shadow: 0 0 5px #A9A9A9;
}
.detrom{
    max-height: 65px;
}

